body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-decoration: none;
}

header h1 {
    margin: 0;
    display: inline;
    text-align: center;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin-left: 20px;
}

main {
    padding: 20px 0;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: centeR;
    bottom: 0;
}

nav ul {
    list-style-type: none;
}


