 /* Estilos CSS */
 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #90d0fc;
    
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
   

}
h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size:xx-large;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

section h2 {
    color: #333;
}

article {
    opacity: value;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.cabecera{
    background-color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}
img {
    width: 400px;
    height: 400px;
    align-items: center;
}

.container{
    justify-content: center;
    display: flex;
    border-radius: 20px;
    margin-left: 15;
    margin-top: -5;
}

img{
    width: 330px;
    height: 300px;
    align-items: center;
}

.imagen{
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.p{
    text-align: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 h1{
    text-align: center;
 }
 